:root{
    --clrBlue: rgb(113, 97, 239);
    --clrPurple: rgb(149, 127, 239);
    --clrBlack: rgb(3, 3, 3);
    --clrWhite: rgb(247, 247, 247);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}
img,svg{
    max-width: 100%;
    max-height: 100%;
}
body{
    background-color: var(--clrBlack);
    color: var(--clrWhite);
    font-family: "Audiowide", sans-serif;
    /* box-shadow: inset 0 0 0 10px rgb(0,0,0); */
}
a{
    text-decoration: none
}
#loading{
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
}
.load{
    height: 100dvh;
    width: 50dvw;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 11;
    transition: all 0.7s;
}
.blu{
    background-color: var(--clrBlue);
    left: 0;
}
.pur{
    background-color: var(--clrPurple);
    right: 0;
}
.start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 13;
    background: linear-gradient(to top, var(--clrPurple) 50%, var(--clrBlue) 50%);
    padding: 1rem;
    border-radius: 1111px;
    color: var(--clrBlack);
    cursor: pointer;
    overflow: hidden;
}
.start:hover,.start:active{
    border: var(--clrBlack) 3px solid;
    /* background: linear-gradient(to left, var(--clrPurple) 50%, var(--clrBlue) 50%); */
}
/*.ultra{
    width: 100dvw;
    /* width: calc(100dvw - 10dvh); 
    height: 100dvh;
    /* height: calc(100dvh - 10dvh); 
    border: var(--clrBlue) 20px solid;
    z-index: -111;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0,0,0);
}*/
.all{
    width: calc(100dvw - 5dvh);
    height: 95dvh;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; */
    /* grid-auto-rows: 1fr;
    grid-auto-columns: 1fr; */
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    /* padding: 3rem; */
    margin: 2.5dvh;
    gap: 1rem 1rem;
    /* place-content: center; */
    place-items: center;
    text-align: center;
}
.logo{
    grid-area: 1/1/1/3;
    /* padding: 2rem; */
    height: 11dvh;
}
.navi{
    grid-area: 1/3;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(4,1fr);
    /* padding: 3rem; */
    margin: 1rem;
    gap: 1rem 1rem;
    /* place-content: center; */
    place-items: center;
    place-content: center;
    text-align: center;
}
.navi div{
    background-color: var(--clrBlue);
    width: 11dvh;
    aspect-ratio: 1;
}
.nav1{
    border-radius: 100% 0 0 100%;
}
.nav4{
    border-radius: 0 100% 100% 0;
}
.motto{
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: 2.5rem;
    gap: 0.5rem;
    background-color: var(--clrBlue);
    color: var(--clrBlack);
    /* background-color: color-mix(in oklab, var(--clrBlue), var(--clrWhite));
    background: linear-gradient(to right, color-mix(in oklab, var(--clrBlue), var(--clrWhite)) 50%, color-mix(in oklab, var(--clrBlue), var(--clrBlack)) 50%); */
    /* border: var(--clrPurple) 10px solid; */
    border-radius: 50px;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    place-content: center;
    position: relative;
    /* text-align: center; */
}
/* .LGTG{
    border: var(--clrPurple) 3px solid;
    background-color: var(--clrPurple);
    color: var(--clrBlack);
    border-radius: 50px;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;
    transition: all 0.1s;
}
.LGTG:hover,.LGTG:active{
    box-shadow: 0 0 11px 3px var(--clrBlack);
    border: var(--clrBlack) 3px solid;
    position: relative;
    bottom: 1px;
    right: 1px;
    cursor: pointer;
} */
.LGTG{
    /* background-color: var(--clrBlue); */
    color: var(--clrBlack);
    border-radius: 50px;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;
    border: var(--clrBlack) 3px solid;
    transition: all 0.1s;
}
.LGTG:hover,.LGTG:active{
    background-color: var(--clrBlack);
    box-shadow: 0 0 11px 3px var(--clrBlack);
    color: var(--clrBlue);
    cursor: pointer;
}
.threeDots{
    background-color: var(--clrBlack);
    width: 8%;
    aspect-ratio: 1;
    border-radius: 100%;
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    display: flex;
    place-content: center;
    place-items: center;
    gap: 0.05em;
    transition: all 0.3s;
    cursor: pointer;
}
.circle{
    cursor: pointer;
    width: 21%;
    aspect-ratio: 1;
    background-color: var(--clrBlue);
    border-radius: 100%;
    transition: all 0.3s;
}
.threeDots:hover,
.threeDots:active{
    width: 10%;
    /* border: var(--clrBlack) 3px solid;
    background-color: var(--clrBlue); */
}
.threeDots:hover>.circle,
.threeDots:active>.circle{
    width: 0.4em;
    /* background-color: var(--clrPurple); */
}
.illustrations{
    grid-area: 2/3;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    /* padding: 3rem; */
    margin: 1rem;
    gap: 1rem 1rem;
    /* place-content: center; */
    place-items: center;
    place-content: center;
    text-align: center;
    position: relative;
}
.illus1,
.illus2,
.illus3,
.illus4{
    color: var(--clrBlack);
    width: 21dvh;
    aspect-ratio: 1;
    display: flex;
    place-items: center;
    place-content: center;
    transition: all 0.3s;
    position: absolute;
    z-index: 1;
}
.illus1,
.illus4{
    border-radius: 50px 0 50px 0;
    background-color: var(--clrBlue);
}
.illus2,
.illus3{
    background-color: var(--clrPurple);
    border-radius: 0 50px 0 50px;
}
.illustrations div:hover,
.illustrations div:active{
    width: 100%;
    z-index: 21;
    border-radius: 50px;
    /* background-color: yellowgreen; */
}
.illus1{
    top: 0;
    left: 0;
}
.illus2{
    top: 0;
    right: 0;
}
.illus3{
    bottom: 0;
    left: 0;
}
.illus4{
    bottom: 0;
    right: 0;
}
.vanish{
    visibility: hidden;
    position: relative;
}
.socials{
    grid-area: 3/1/3/3;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(7,1fr);
    /* padding: 3rem; */
    margin: 1rem;
    gap: 1rem 1rem;
    place-self: end start;
    position: relative;
    /* place-items: center;
    place-content: center;
    text-align: center; */
}
.social{
    background-color: var(--clrBlue);
    width: 7dvh;
    height: 7dvh;
    border-radius: 1000px;
    color: var(--clrBlack);
    display: flex;
    text-align: center;
    place-content: center;
    place-items: center;
}
.social:hover,
.social:active{
    width: 100%;
    position: absolute;
}
.copyright{
    grid-area: 3/2;
    place-self: end center;
}
.arrows{
    grid-area: 3/3;
    /* padding: 1rem; */
    display: flex;
    place-content: center;
    /* margin: 3rem; */
    gap: 3rem;
    /* width: 100%;
    height: 100%; */
}
.arrows div{
    background-color: var(--clrBlue);
    width: 8dvh;
    height: 8dvh;
    /* place-self: center; */
}
.arrows div:nth-child(1){
    border-radius: 100% 0 0 100%;
    /* width: 0;
    height: 0;
    border-top: 4dvh solid transparent;
    border-bottom: 4dvh solid transparent;
    border-right: 8dvh solid var(--clrPurple); */
}
.arrows div:nth-child(2){
    border-radius: 0 100% 100% 0;
    /* width: 0;
    height: 0;
    border-top: 4dvh solid transparent;
    border-bottom: 4dvh solid transparent;
    border-left: 8dvh solid var(--clrPurple); */
}
/* animation: upDown 1s linear 0s infinite alternate both;
@keyframes upDown {
    0%{
        bottom: 0;
        background-color: var(--clrPurple);
        color: var(--clrBlack);
    }
    100%{
        bottom: 20px;
        background-color: var(--clrBlack);
        color: var(--clrPurple);
    }
} */

/* animation: LR 1s steps(2, jump-none) 0s infinite both;
.illus1,
.illus4{
    animation-direction: alternate-reverse;
}
.illus2,
.illus3{
    animation-direction: alternate;
}
@keyframes upDown {
    0%{
        border-radius: 0 50px 0 50px;
    }
    100%{
        border-radius: 50px 0 50px 0;
    }
}
@keyframes LR {
    0%{
        border-radius: 50px 0 50px 0;
    }
    100%{
        border-radius: 0 50px 0 50px;
    }
} */