*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    max-height: 100%;
}
body{
    background-color: #030303ff;
    color: #f7f7f7ff;
    font-family: "Audiowide", sans-serif;
}
.removeLine{
    text-decoration: none
}
/* #four{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#S1,#S2,#S3,#S4{
    width: 7dvh;
    height: 7dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5dvh;
    margin: 1dvh;
    border-radius: 100px;
}
#S1,#S4{
    background-color: #957fefff;
}
#S2{
    background-color: #7161efff;
}
#S3{
    background-color: red;
}
#mail{
    width: 3dvh;
    height: 3dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 7px;
    border-radius: 100px;
    background-color: #7161efff;
}
#one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
} */
#loading{
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
}
.load{
    height: 100dvh;
    width: 50dvw;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 11;
    transition: all 0.7s;
}
.blu{
    background-color: #7161efff;
    left: 0;
}
.pur{
    background-color: #957fefff;
    right: 0;
}
.start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 13;
    background: linear-gradient(to top, #957fefff 50%, #7161efff 50%);
    padding: 1rem;
    border-radius: 50dvh;
    color: #030303ff;
    cursor: pointer;
    overflow: hidden;
}
.start:hover{
    border: #030303ff 3px solid;
}
.all{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}